#whole {
  background-color: #800000;
  height: 600px;
}
.dice {
  height: auto;
}
body {

    font-family: 'Pacifico', cursive;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #00FF00;
}
.btn-new{
  height: 80px;
  color: black;
  font-size: 15px;
}
.btn-roll{
height: 80px;
color: black;
  font-size: 15px;
}
.btn-how{
  height: 80px;
    font-size: 15px;
}
.btn-hold{
  height: 80px;
  color: black;
    font-size: 15px;
}
#blue{
  font-size: 25px;
  bac
}
